
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #eaeef6;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 10px;
}

.justify-content-center {
  margin: 0 -15px;
}

.App-logo {
  margin: 0 0 40px 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-clip: border-box;
  background-color: #fff;

}


.card-group .form-register form  {
  width: 80%;
  margin: 0 auto;
  
}


.form-register {
  background: #fff;
  padding: 20px;
  border: 0;
  border-radius: 20px;
}

.input-label {
  font-size: 12px;
  color: #2b3c5e;
  opacity: .7;
  text-align: left; 
}

.input-group-text {
  padding: 6px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #5C6873;
  background: #F0F3F5;
}

input,
input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #5C6873;
}


.btn {
  display: inline-block;
    font-weight: 400;
    color: #23282c;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-register {
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  color: #fff;
  background: #335877;
  margin: 40px 0px 0px;
  padding: 10px 0px;
}

.btn-register:hover {
  background: #335877;
}

.text-link{
  color: #20A8D8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  
}

.mt-5 a:hover{
  text-decoration: none;
  color: #335877;
}
